extends layout

block content
  h1= title

  
  p Write a sentence or two and we'll hipstafy it for you!

  <form action="/nextpage" method="post">
  <input type="text" name="sentences">
  <input type="submit" value="hipstafy!">
  </form>

 

